﻿@inherits UmbracoViewPage<PPOC.Models.SellerRegistrationModel>

@using(Html.BeginUmbracoForm("Register", "SellerRegistrationSurface", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()


    @Html.LabelFor(m=> m.FirstName)
    @Html.TextBoxFor(m => m.FirstName)
    @Html.ValidationMessageFor(m => m.FirstName)
    <br/>

    @Html.LabelFor(m=>m.MiddleName)
    @Html.TextBoxFor(m => m.MiddleName)

    <br/>

    @Html.LabelFor(m => m.LastName)
    @Html.TextBoxFor(m=> m.LastName)

    <br/>

    @Html.LabelFor(m => m.EmailAddress)
    @Html.TextBoxFor(m => m.EmailAddress)

    <br/>
    <br/>

    <button>Register</button>
    


}