﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

<html>
    <head>
        <title>@Umbraco.Field("websiteTitle")</title>
    </head>
    
    <body>
        <div class="header">
            
        </div>
        <div class="wrapper">
        @RenderBody()
        </div>
        <div class="footer">
            
        </div>
    </body>
</html>